<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.simple-utcd.simple-utcd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/simple-utcd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/simple-utcd.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/simple-utcd.error.log</string>
</dict>
</plist>
